@{
    ViewBag.Title = "Login with Password";
}
<style>
    body, h2 {
        font-family: 'Cairo', sans-serif;
    }

    .line {
        border-bottom: 3px solid red;
        margin-top: 3px;
        width: 70%;
    }

    .line2 {
        border-bottom: 3px solid darkgreen;
        margin-top: 3px;
        width: 60%;
    }

    .d {
        display: flex;
        justify-content: flex-start;
    }
</style>
<br />
<br />
<br />
<center>
   
    <h2>تسجيل الدخول</h2><center><div class="line2"></div><div class="line"></div></center>
</center>
<br />
<br />
<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-lg" style="width: 40%; border-radius: 10px;">
        <div class="card-body">
            @using (Html.BeginForm("LoginWithPassword", "user", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group mb-3">
                        <label for="National_ID" class="form-label" style="display: flex; justify-content: space-evenly; ">الرقم الوطني</label>
                        <input type="text" id="National_ID" name="National_ID" class="form-control" value="@ViewBag.NationalId" />
                        <span class="text-danger">@ViewBag.NationalIdError</span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="Password" class="form-label" style="display: flex; justify-content: space-evenly; ">كلمة المرور</label>
                        <input type="password" id="Password" name="Password" class="form-control" />
                        <span class="text-danger">@ViewBag.PasswordError</span>
                    </div>

                    <div class="form-group text-center">
                        <br />
                        <input type="submit" value="تسجيل الدخول" class="btn btn-primary" style=" font-family: 'Cairo', sans-serif; " />
                    </div>

                    <span class="text-danger font-weight-bold d-block text-center mt-3">@ViewBag.auth</span>
                </div>
            }
        </div>
    </div>
</div>