@{
    var dateNOW = DateTime.Now;
    var Dates = Session["electionDates"] as E_voting_System.Models.ElectionSchedule;

    var startDateOfElection = Dates.Start_Date_Of_Election;
    var endDateOfElection = Dates.End_Date_Of_Election;

    var startDateOfNominate = Dates.Start_Date_Of_Nominate;
    var endDateOfNominate = Dates.End_Date_Of_Nominate;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#253b2f" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Politixy description contents" />
    <title>NVS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet" />
    <style>
        a:hover {
            color: lightgreen;
        }

        .dropdown-menu {
            display: none;
            transition: all 0.3s ease;
        }

            .dropdown-menu.show {
                display: block;
            }
    </style>
    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.css" />
    <link rel="stylesheet" href="~/Content/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/assets/css/leaflet.css" />
    <link rel="stylesheet" href="~/Content/assets/css/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="~/Content/assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Cairo', sans-serif;
        }
    </style>
</head>
<body>
    <div class="page landing-page">
        <!--Header Section -->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: white; border: 1px solid #ccc; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="~/Content/assets/images/LogoWhite-removebg-preview (1).png" alt="Logo" width="124" height="115" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav" style="font-weight: bold;">
                        @if (dateNOW >= startDateOfElection && dateNOW < endDateOfElection)
                        {
                            <li class="nav-item" style="padding: 10px 15px;">
                                @Html.ActionLink("تسجيل الدخول", "Login", "user", new { area = "" }, new { @class = "nav-link" })
                            </li>
                        }
                        <li class="nav-item" style="padding: 10px 15px;">
                            @Html.ActionLink("آخر الأخبار", "Index", "Ads", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" style="padding: 10px 15px;">
                            @Html.ActionLink("المناظرات", "IndexDebatsesHome", "Debates", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item" style="padding: 10px 15px;">
                            @Html.ActionLink("تواصل معنا", "ContactForm", "ContactForms", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item dropdown" style="padding: 10px 15px;">
                            <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                من نحن
                            </a>
                            <div class="dropdown-menu" aria-labelledby="aboutDropdown" style="background-color: white;">
                                @Html.ActionLink("عن نظام الاقتراع الوطني", "About", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("سياسات الانتخاب", "Policy", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                        <li class="nav-item dropdown" style="padding: 10px 15px;">
                            <a class="nav-link dropdown-toggle" href="#" id="electionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                الانتخابات
                            </a>
                            <div class="dropdown-menu" aria-labelledby="electionDropdown" style="background-color: white;">
                                @if (dateNOW < startDateOfElection)
                                {
                                    @Html.ActionLink("طلب ترشح قائمة محلية", "localApplication", "Candidates", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("طلب ترشح قائمة حزبية", "partyApplication", "Candidates", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("طلب تقديم مناظرة", "Index", "Debates", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("خطط الإنتخابات", "Plans", "Ads", new { area = "" }, new { @class = "dropdown-item" })
                                }
                                else
                                {
                                    @Html.ActionLink("نتائج الانتخابات المحلية", "LocalResult", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("نتائج الانتخابات الحزبية", "CalculateVotesForEachParty", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                }
                            </div>
                        </li>
                        <li class="nav-item" style="padding: 10px 15px;">
                            @Html.ActionLink("الصفحة الرئيسية", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
        </div>
        <hr />

        <footer class="section-footer footer-1 bg-black" data-bs-theme="dark">
            <div class="container">
                <div class="footer-wrapper pt-60 pb-5 pt-lg-120 pb-lg-100">
                    <div class="row g-40 justify-content-between">
                        <div class="col-lg-5 col-xl-4">
                            <div class="logo-footer mb-20 mb-xl-30">
                                <a class="navbar-brand py-0" href="index.html">
                                    <span class="logo">
                                        <img src="~/Content/assets/images/LogoBlack.png"
                                             data-src="/Content/assets/images/LogoBlack.png"
                                             class="img-fluid"
                                             alt="logo-white" style="width: 200px;" />
                                    </span>
                                </a>
                            </div>
                            <!-- logo-footer -->

                            <p class="mb-30 body-color-style-2">
                                نظام الاقتراع الوطني, معًا لمستقبل أفضل
                            </p>

                            <div class="d-flex gap-20 social-icons text-white">
                                <a href="#" class="text-decoration-none">
                                    <span class="facebook-icon">
                                        <svg width="9" height="17">
                                            <use xlink:href="#facebook-icon"></use>
                                        </svg>
                                    </span>
                                </a>
                                <a href="#" class="text-decoration-none">
                                    <span class="twitter-icon">
                                        <svg width="19" height="15">
                                            <use xlink:href="#twitter-icon"></use>
                                        </svg>
                                    </span>
                                </a>
                                <a href="#" class="text-decoration-none">
                                    <span class="linkedin-icon">
                                        <svg width="17" height="15">
                                            <use xlink:href="#linkedin-icon"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <!-- social-icons -->
                        </div>
                        <!-- col-4 -->

                        <div class="col-lg-5 col-xl-4">
                            <div class="d-flex flex-column gap-20 gap-lg-30">
                                <h5 class="mb-0" style="color:white;">روابط مهمة</h5>
                                <ul class="list-unstyled mb-0 d-flex flex-column gap-10">
                                    <li class="d-flex gap-10 align-items-center">
                                        <span class="chevron-right-icon">
                                            <svg width="9" height="14">
                                                <use xlink:href="#chevron-right-icon"></use>
                                            </svg>
                                        </span>
                                        @Html.ActionLink("طلب ترشح قائمة محلية", "localApplication", "Candidates",
    null,
    new { @class = "text-decoration-none link-hover-animation-1 fw-semibold" })

                                    </li>
                                    <li class="d-flex gap-10 align-items-center">
                                        <span class="chevron-right-icon">
                                            <svg width="9" height="14">
                                                <use xlink:href="#chevron-right-icon"></use>
                                            </svg>
                                        </span>
                                        @Html.ActionLink("طلب ترشح قائمة حزبية", "partyApplication", "Candidates",
    null,
    new { @class = "text-decoration-none link-hover-animation-1 fw-semibold" })
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- col-4 -->

                        <div class="col-lg-5 col-xl-4">
                            <div class="d-flex flex-column gap-20 gap-lg-30">
                                <h5 class="mb-0" style="color:white;">تواصل معنا</h5>

                                <ul class="list-unstyled mb-0 d-flex flex-column gap-3">
                                    <li class="d-flex gap-20 align-items-center">
                                        <span class="mail-icon text-white">
                                            <svg width="22" height="18">
                                                <use xlink:href="#mail-icon"></use>
                                            </svg>
                                        </span>
                                        <p class="mb-0 fw-semibold">
                                            <a href="mailto:Contact@NVS.com"
                                               class="text-decoration-none link-hover-animation-1">Contact@NVS.com</a>
                                        </p>
                                    </li>

                                    <li class="d-flex gap-20 align-items-center">
                                        <span class="phone-icon text-white">
                                            <svg width="24" height="24">
                                                <use xlink:href="#phone-icon"></use>
                                            </svg>
                                        </span>
                                        <p class="mb-0 fw-semibold">
                                            <a href="tel:(+962)234556789"
                                               class="text-decoration-none link-hover-animation-1">(+962)234556789</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <!-- d-flex -->
                        </div>
                        <!-- col-4 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- footer-wrapper -->
            </div>
            <!-- container -->

            <div class="footer-separator"></div>

            <div class="container">
                <div class="copyright py-30 py-lg-40 d-flex flex-column flex-md-row gap-3 justify-content-between">
                    <p class="mb-0 body-color-style-1">
                        <center>
                            &copy; 2024, نظام الاقتراع الوطني
                        </center>
                    </p>

                </div>
            </div>
        </footer>
        <!-- SVG -->
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <!-- Add SVG definitions here -->
        </svg>
        <!-- SVG -->
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').on('click', function () {
                    var $dropdownMenu = $(this).next('.dropdown-menu');
                    if ($dropdownMenu.hasClass('show')) {
                        $dropdownMenu.removeClass('show').slideUp();
                    } else {
                        $('.dropdown-menu').removeClass('show').slideUp();
                        $dropdownMenu.addClass('show').slideDown();
                    }
                });

                $(document).on('click', function (e) {
                    if (!$(e.target).closest('.dropdown').length) {
                        $('.dropdown-menu').removeClass('show').slideUp();
                    }
                });
            });
        </script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
